body{
  padding: 20px;
  font-weight: bold;
  font-family: MV Boli;
}

#container{
  border: 5px solid;
  background-color: aquamarine;
  width: 75%;
}

#myContent{
  padding: 5px;
}

.head1{
  margin: 0;
  padding: 0;
}


