h1 {
    background-color: #7FFF00;
    padding: 3%;
    font-size: 1em;
    padding-left: 2em;
    padding-top: 2em;
}

.container {
    display: flex;
}

header {
    text-align: left;
}

.leftmenu{
    background-color: lightsalmon;
    margin: 3em;
    width: 25vw;
    height: 30vw;
}
.midmenu{
    width: 40vw;
    height: 30vw;
    background-color: violet;
    padding-left: 1em;
    margin-left: 1em;
}
.endmenu{
    width: 40vw;
    height: 30vw;
    background-color: peachpuff;
    padding-left: 1em;
}
footer {
    background: #7FFF00;
    padding: 3%;
    font-size: 1em;
    margin-top: .5em;
    padding-left: 2em;
    padding-top: 2em;
    
}
