/* General CSS */
body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background: #F5EFEF ;
  color: #000;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}


/* Links */
a{
  color: #999;
  transition: all 0.5s ease-in-out;
}

a:hover{
  color: #c08282  !important;
}



/* Nav Bar */
.navbar ul li a{
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-collapse{
  text-align: center;
}

.navbar-toggler:hover{
  color: #757070;
}


/* Banner Content */
.banner-section{
  position: relative;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.banner-section .banner-title{
  position: relative;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}

.banner-section .banner-desc{
  position: relative;
  font-size: 1.5em;
  font-weight: 500;
}

.banner-image .content{
  padding-top: 6rem;
}

.banner-image .content-about{
  font-size: 1.8em;
}

.banner-image .text-dark{
  font-size: 1.5em;
}



/* Topics Section */

.topics-section{
position: relative;
padding-top: 1rem;
padding-bottom: 1rem;
}


.topics-section .topics-title{
  position: relative;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}

.topics-section .topics-desc{
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
  
}

.row .topics-title{
  color: crimson;
}



/* Footer */
.footer{
  position: relative;
  margin-bottom: 0.5em;
}

.footer  .footer-list {
  display: inline-block;
}

.footer  .footer-list li{
  float: left;
}

.footer  .footer-list li a{
  position: relative;
  font-size: 2em;
  font-weight: 500;
  color: #000;
}





/* Top 10 Section */
.top10-section{
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top10-section .top10-title{
  position: relative;
  padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}

.top10-section .top10-origin,
.top10-section .top10-content{
  position: relative;
  font-size: 1.1em;
  font-weight: 600;
}

/* About Section */
.about-section{
  padding-top: 2rem;
}


.about-section img{
  position: relative;
  width: 25rem;
  height: fit-content;
}

.about-section .about-desc{
  position: relative;
  font-size: 1.3em;
  font-weight: 600;
}



/* Media Query */

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .banner-image{
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
  }



}




@media only screen and (max-width: 767px){
  .carousel-caption{
    bottom: fixed;
    width: auto;
  }

  .carousel-caption h1{
    bottom: fixed;
    font-size: 1em;
    color:#c08282;
  }

  .carousel-caption p{
    bottom: fixed;
    font-size: 0.8em;
    color: #c08282;
  }



  .banner-image{
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner-image h1{
    text-align: center;
    font-size: 1.2em;
    -webkit-text-stroke-width: 1px;
  }

  .banner-image p{
    text-align: center;
    font-size: 1.3em;
    -webkit-text-stroke-width: 0.4px;
  }

  .banner-image .adopt-button{
    background-color: #000;
    color: white;
  }

  .banner-image .top10-head{
    margin-right: 10em;
  }

  .banner-image .adopt-button:hover{
    color: #c08282;
  }

  .banner-image .content-about{ 
    padding-inline-start: 6.7em;
    font-size: 1.2em;
  }



  .footer .row,
  .footer .contacts, 
  .about-section .about-head
  {
     font-size: 0.7em; 
  }


  .footer .footer-list li a{
    font-size: 1.5em;
    padding-right: 1px;
  }


  .topics-section img,
  .top10-section img,
  .about-section img
  {
    width: 75%;
    margin-left: 2.5rem;
  }

  .topics-section .topics-title,
  .top10-section .top10-title
  {
    font-size: 1.5em;
  }


  .top10-section .top10-origin,
  .top10-section .top10-content,
  .topics-section .topics-desc
  {
    font-size: 0.9em;
  }


  


}


